/*#region reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*#endregion*/

/*#region root*/
:root {
  --boolflix-primary: #E50914;
  --boolflix-dark: black;
  --boolflix-light: white;
}

/*#endregion*/

/*#region general css*/
body {
  background-color: var(--boolflix-dark);
  color: var(--boolflix-light);
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 80%;
  margin: auto;

  & .row {
    margin: 0 -1rem;
    padding: 1rem 0;
    flex-wrap: wrap;

    & [class^='col'] {
      padding: 1rem;
    }
  }
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% /12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}


/*#endregion*/

/*#region utilities*/
.d-flex {
  display: flex;
}

.gap-3 {
  gap: 1rem;
}

.jf-between {
  justify-content: space-between;
}

.jf-center {
  justify-content: center;
}

.al-center {
  align-items: center;
}

.ms-1 {
  margin-left: 0.5rem;
}

/*#endregion*/